.contacto{
	h1{
		font-weight: $light;
		font-size: 1.5em;
		color: $gris;
		text-transform: uppercase;
		margin: 20px 0;
	}
	ul{
  		list-style: square;
  		color: $gris;
	}
	li{
		line-height: 1.6;
	}
	p{
		font-size: .9em;
		padding: 0 10px;
	}
}